<div  *ngIf="visible" style="display: block;"
class="modal show" aria-modal="true" tabindex="-1" role="dialog" > 
    <div style="display: block; visibility: visible;" class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changePasswordModalLabel">Enter reject reason</h5>
          <button type="button" class="btn-close" (click)="close()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <textarea class="form-control" 
            style="height: 100px"
            [(ngModel)]="rejectReason" 
          ></textarea>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Cancel</button>
          <button type="button" class="btn btn-primary"
          (click)="sendRejectReason()">Reject</button>
        </div>
      </div>
    </div>

</div>

<div  *ngIf="visible" style="display: block;"
  class="my-modal-backdrop-show"
></div>
