.project-title-container{
  display: flex;
  justify-content: flex-start;
  margin: 0 !important; //drugace ga ven iz ekrana hiti
  padding-left: 10px;
}

.title-buttons-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  div{
    flex: 1 1 0; // flex-grow flex-shrink flex-basis
  }

  .selected-title-container{
    text-align: right
  }
}

.buttons-container{
  display: flex;
  justify-content: flex-end;
  gap:10px;
  margin-right: 10px;
}




.backlog-container{
  margin-top: 10px;
}