
<div class="project-details-container">
  <div class="col-12 form-group">
    <div class="row project-title-container">
      <h1 *ngIf="project" class="display-5">{{project.name}}</h1>
    </div>
  </div>
  <div class="col-12">
    <div class="title-buttons-container">
      <div class="selected-title-container">
        <h4 *ngIf="displayingSprintBacklog">Active Sprint</h4>
        <h4 *ngIf="displayingProductBacklog">Product Backlog</h4>
        <h4 *ngIf="displayingSprints">Sprints</h4>
      </div>
      <div class="buttons-container">
        
        <button *ngIf="!displayingProductBacklog" type="button" class="btn btn-primary" (click)="showProductBacklog()">Product backlog</button>
        <button *ngIf="!displayingSprintBacklog && !userIsProductOwner" type="button" class="btn btn-outline-primary" (click)="showSprintBacklog()">Sprint backlog</button>
        <button *ngIf="!displayingSprints && !userIsProductOwner" type="button" class="btn btn-outline-secondary" (click)="showSprints()">Sprints</button>
        <!-- <button type="button" class="btn btn-info" (click)="editProjectUsers()">Users</button> -->
      </div>
    </div>
  </div>
  
  <div class="backlog-container">
    <ng-container *ngIf="displayingProductBacklog">
      <app-product-backlog
        [project]="project"
      ></app-product-backlog>
    </ng-container>
    <ng-container *ngIf="displayingSprintBacklog">
      <app-sprint-backlog
        [project]="project"
        [activeSprint]="activeSprint"
      ></app-sprint-backlog>
    </ng-container>
    <ng-container *ngIf="displayingSprints">
      <app-sprint-list
        [project]="project"
      ></app-sprint-list>
    </ng-container>
  </div>

</div>




