<div  *ngIf="visible" style="display: block;"
class="modal show" aria-modal="true" tabindex="-1" role="dialog" > 
    <div style="display: block; visibility: visible;" class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="storyModalLabel">User story</h5>
          <button type="button" class="btn-close" (click)="close()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-12 form-group">
            <div class="row">
              <div class="col-3">Name:</div>
              <div class="col-9"><input [(ngModel)]="userStory.name" type="text" class="form-control"></div>
            </div>
          </div>

          <div class="col-12 form-group">
            <div class="form-floating">
              <div class="row">
                <div class="col-3">Description:</div>
                <div class="col-9">
                  <textarea class="form-control" 
                    placeholder="Enter story description" id="descriptionTextArea" 
                    style="height: 100px"
                    [(ngModel)]="userStory.storyDescription"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 form-group">
            <div class="row">
              <div class="col-3">Priority:</div>
              <div class="col-9">
                <select class="form-select"
                [(ngModel)]="userStory.priority">
                  <option *ngFor="let sPV of storyPriorityValues" value="{{sPV}}">
                    {{sPV}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          
          <div  *ngIf="!userIsProductOwner"
          class="col-12 form-group">
            <div class="row">
              <div class="col-3">Time estimate (pts):</div>
              <div class="col-9">
                <input type="number" [(ngModel)]="userStory.timeEstimate"
                class="form-control">
              </div>
            </div>
          </div>

          <div class="col-12 form-group">
            <div class="row">
              <div class="col-3">Business value:</div>
              <div class="col-9">
                <input type="number" pattern="[0-10]" min="1" max="10" step="1" [(ngModel)]="userStory.businessValue"
                class="form-control">
              </div>
            </div>
          </div>

         


          <div class="col-12 form-group">
            <div class="row add-btn-container">
              <h2 class="icon-btn bi bi-plus-square" (click)="addAcceptanceTest()"></h2>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Acceptance test</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let aT of userStory.acceptanceTests; index as i">
                  <td>
                    <input  [(ngModel)]="aT.description" type="text" class="form-control">
                  </td>
                  <td>
                    <div class="btn-table-column">
                      <i class="icon-btn bi bi-trash3" 
                        (click)="deleteAcceptanceTest(i)">
                      </i>
                    </div>

                    </td>
                </tr>              
              </tbody>
            </table>
          </div>
  

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Cancel</button>
          <button type="button" class="btn btn-outline-success" (click)="save()">Save</button>
        </div>
      </div>
    </div>

</div>

<div  *ngIf="visible" style="display: block;"
  class="my-modal-backdrop-show"
></div>
