
<div class="card border-secondary" > <!-- style="max-width: 18rem;" -->
  <div class="card-header bg-transparent border-secondary ">
    <a (click)="displayStoryInfo()"
    class="pointer">
      {{story?.name}}
    </a> 

    <ng-container *ngIf="story.isConfirmed">
      <i style="margin-left: 10px; color: #15da7f" class="bi bi-check-square-fill"></i>
    </ng-container>
  </div>
  
  <!-- <div class="card-header bg-transparent border-secondary">
    {{story?.name}}
  </div> -->

  <div class="my-card-body text-secondary ">
    <div class="col-12">
      <span *ngIf="story?.priority===storyPriority.must" class="badge rounded-pill bg-danger">{{storyPriority?.must}}</span>
      <span *ngIf="story?.priority===storyPriority.should" class="badge rounded-pill bg-warning text-dark">{{storyPriority?.should}}</span>
      <span *ngIf="story?.priority===storyPriority.could" class="badge rounded-pill bg-primary">{{storyPriority?.could}}</span>
      <span *ngIf="story?.priority===storyPriority.wont" class="badge rounded-pill bg-secondary">{{storyPriority?.wont}}</span>
    </div>

    <div class="col-12">
      <div class="row">
        <p><i class="bi bi-clock-history"></i> (pts) 
          <span *ngIf="storyUnasigned && currentUserSM">
            <input #timeEstimateInput type="number" min="0" ngModel="{{story?.timeEstimate}}" (change)="checkTimeEstimate()" class="timeEstimateInput">
            <button type="button" class="btn btn-outline-success btn-sm save-time-est-button" (click)="saveTimeEstimate()">Save</button>
          </span>
          <span *ngIf="!storyUnasigned || !currentUserSM">{{story?.timeEstimate}}</span>
        </p>
      </div>
    </div>
    <p>Business value: {{story?.businessValue}}</p>
  </div>

  <ng-container>
      <div class="form-group col-12">
        <div class="row">
          <p *ngFor="let aT of story.acceptenceTests">
            <i class="blue-highlighted-text"> # {{aT.description}}</i>
          </p>    
        </div>
      </div>
  </ng-container>

  <div *ngIf="displayTasks" 
    class="col-12">
    <table class="table table-borderless">
      <thead class="table-light">
        <tr>
          <th>Task</th>
          <th>Status / action</th>
          <th>Member</th>
          <th>Estimate (h)</th>
          <th>Remaining (h)</th>
          <th>Finished</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let st of storyTasks">
          <td>{{st.description}}</td>

          <td>
            <ng-container *ngIf="st.isDone">
              <b class="success-text">Done</b>
            </ng-container>
            <ng-container *ngIf="!st.isDone">
              <ng-container *ngIf="!st.hasAssigneeConfirmed && (st.assigneeUserId === currentUserId
              || st.assigneeUserId == null)">
              <div (click)="acceptTask(st)" 
                class="pointer">
                <a>Accept task</a>
              </div>
  
              </ng-container>
              <ng-container *ngIf="st.hasAssigneeConfirmed && st.assigneeUserId === currentUserId">
                <div (click)="declineTask(st)" 
                  class="pointer">
                  <a>Decline task</a>
                </div>
              </ng-container>
  
              <ng-container *ngIf="st.hasAssigneeConfirmed && st.assigneeUserId !== currentUserId">
                <b class="success-text">Accepted</b>
              </ng-container>
  
              <ng-container *ngIf="!st.hasAssigneeConfirmed && (st.assigneeUserId && st.assigneeUserId !== currentUserId)">
                <b class="highlighted-text">Pending</b>
              </ng-container>
            </ng-container>
          </td>

          <td>
            {{st.asigneeFullName}}
          </td>

          <td>
            {{st.timeEstimate}}
          </td>
        
          <td>
            {{st.timeRemainingEstimate}}
          </td>

          <td>
            <i *ngIf="st.isDone"
            class="bi bi-check2 success-text"></i>
          </td>

          </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <ng-container *ngIf="storyTasks.length > 0">
            SUM: {{remainingTimeSUM}}
          </ng-container>
        </td>
        <td></td>
      </tfoot>
    </table>
  </div>

  <!-- <div *ngIf="!!story.rejectReason"
  class="form-group col-12">
    <div class="row">
      <p>
        <b class="text-danger"> {{story.rejectReason}}</b>
      </p>    
    </div>
  </div> -->

  <div *ngIf="!!story.rejectReason"
    class="form-group col-12">
    <div class="row">
      <p>
        <b class="text-danger multiline">
          {{story.rejectReason}}
        </b>
      </p>
    </div>
  </div>

  <div class="card-footer bg-transparent border-secondary">
    <button *ngIf="canDelete && !story.isDone && !story.sprint_id"
      type="button" class="btn btn-outline-danger btn-sm" 
      (click)="deleteStory()"><i class="bi bi-trash3"></i></button>
    <button *ngIf="!addToActiveSprintDisabled && canAddToActiveSprint && !disableAddToActiveSprintVelocity && !story.sprint_id"
      type="button" class="btn btn-outline-secondary btn-sm" 
      (click)="addToActiveSprint()"
      data-bs-toggle="tooltip" data-bs-placement="bottom" [title]="tooltipText"
      >
      Add to active sprint
    </button>

    <button *ngIf="displayAcceptStory && currentUserPO && story.isDone && !story.isConfirmed"
      type="button" class="btn btn-outline-success btn-sm" 
      (click)="acceptStory()">
      Accept story
    </button>

    <button *ngIf="currentUserPO && !story.isConfirmed && story.sprint_id"
      type="button" class="btn btn-outline-danger btn-sm" 
      id="rejectStoryButton"
      (click)="openRejectReasonPopup()">
      Reject
    </button>

    <button *ngIf="canEditTasks && !story.isDone"
      type="button" class="btn btn-outline-secondary btn-sm" 
      (click)="editTasks()">Edit tasks</button>
    
    <button *ngIf="!story.isDone && canEdit && !story.sprint_id"
    type="button" class="btn btn-outline-secondary btn-sm" (click)="editStory()">Edit</button>
  </div>
</div>


<app-story-tasks-popup
  (storyTasksSaved)="storyTasksSaved($event)"
></app-story-tasks-popup>

<app-user-story-popup
  [project]="project"
></app-user-story-popup>

<app-reject-reason-popup
  (reason)="rejectStory($event)"
></app-reject-reason-popup>


