<div class="my-component-container">
  <div class="col-12">
    <div class="top-row-container">
      <div class="add-user-story-btn-container">
        <button *ngIf="userCanAddStory" type="button" class="btn btn-outline-success" (click)="addUserStory()">Add user story</button>
      </div>
      <div class="sprint-velocity-container" >
        <ng-container *ngIf="activeSprint">
          Sprint velocity (pts): {{activeSprint?.velocityFilled}} / {{activeSprint?.velocity}}
        </ng-container>
      </div>

    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-3 basket-section">
        <div class="section-title">
          <h5>Won't have this time</h5>
        </div>

        <div class="cards-container">
          <app-story-card *ngFor="let wh of whStories"
            [story]="wh"
            [project]="project"
            [activeSprint]="activeSprint"
            (storyDeleted)="whStoryDeleted($event)"
            (storyEdited)="editUserStory($event)"
          ></app-story-card>
        </div>
      </div>

      <div class="col-3 basket-section">
        <div class="section-title">
          <h5>Unasigned</h5>
        </div>
        
        <div class="cards-container">
          <app-story-card *ngFor="let unasignedStory of unasignedStories"
            [story]="unasignedStory"
            [project]="project"
            [activeSprint]="activeSprint"
            (storyDeleted)="unasignedStoryDeleted($event)"
            (storyEdited)="editUserStory($event)"
            (addedToActiveSprint)="addedToActiveSprint($event)"
          ></app-story-card>
        </div>

      </div>

      <div class="col-3 basket-section">
        <div class="section-title">
          <h5>Asigned</h5>
        </div>

        <div class="cards-container">
          <app-story-card *ngFor="let asignedStory of assignedStories"
            [story]="asignedStory"
            [project]="project"
            [activeSprint]="activeSprint"
            (storyDeleted)="assignedStoryDeleted($event)"
            (storyEdited)="editUserStory($event)"
          ></app-story-card>
        </div>
      </div>

      <div class="col-3 basket-section">
        <div class="section-title">
          <h5>Finished</h5>
        </div>

        <div class="cards-container">
          <app-story-card *ngFor="let finishedStory of finishedStories"
            [story]="finishedStory"
            [project]="project"
            [activeSprint]="activeSprint"
            [displayAcceptStory]="true"
            (storyDeleted)="finishedStoryDeleted($event)"
            (storyEdited)="editUserStory($event)"
          ></app-story-card>
        </div>
      </div>

    </div>
  </div>




  <app-user-story-popup
    (storySaved)="userStorySaved($event)"
    [project]="project"
  ></app-user-story-popup>




</div>
