<div class="my-component-container">

  <div class="col-12">
    <div class="view-changer-button-container">

          <button *ngIf="displayingStories" 
            type="button" class="btn btn-outline-primary" 
            (click)="toggleDisplay()">
            Show sprint tasks
          </button>
      
          <button *ngIf="displayingTasks" 
            type="button" class="btn btn-outline-primary" 
            (click)="toggleDisplay()">
            Show sprint stories
          </button>

    </div>

  <ng-container *ngIf="displayingStories">
    <div class="col-12">
      <div class="row center-elements">
        <div class="col-8" *ngFor="let story of sprintStories">
          <app-story-card
            [story]="story"
            [project]="project"
            [canDelete]="false"
            [canEdit]="true"
            [canAddToActiveSprint]="false"
            [canReject]="false"
            [canEditTasks]="true"
            [displayTasks]="true"
            (storyEdited)="userStoryEdited($event)"
          ></app-story-card>
        </div>
      </div>
    </div>
  </ng-container>

  <app-sprint-tasks *ngIf="displayingTasks"
    [sprintStories]="sprintStories"
    [project]="project"
  ></app-sprint-tasks>

  </div>





<div>