.container{
    height: 60vh;
}

.docs-contents{
    height: 100%;
}

.documentation{
    height: 100%;
}

.docs-area{
    height: 100%;
    width: 100%;
    padding: 10px;

    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.fileInputBtn{
    padding: 10px;
    margin: 10px;
}

.buttonRow{
    margin: 20px;
    padding-bottom: 10px;
}

.fileName{
    margin-top: 10px;
}