<div  *ngIf="visible" style="display: block;"
class="modal show" aria-modal="true" tabindex="-1" role="dialog" > 
    <div style="display: block; visibility: visible;" class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="storyModalLabel">Story tasks</h5>
          <button type="button" class="btn-close" (click)="close()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="col-12 form-group">
            <div class="row add-btn-container">
              <h2 class="icon-btn bi bi-plus-square" (click)="addTask()"></h2>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Description</th>
                  <th scope="col w-25">Time (h)</th>
                  <th scope="col">Member</th>
                  <th scope="col w-10">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let st of storyTasks; index as i">
                  <td>
                    <input 
                      [(ngModel)]="st.description" 
                      [disabled]="st.isDone || (!!st.assigneeUserId && !!st.id)"
                      type="text" class="form-control">
                  </td>
                  <td>
                    <div class="cell-align-items-center">
                      <input type="number" 
                        [(ngModel)]="st.timeEstimate"
                        [disabled]="st.isDone || (!!st.assigneeUserId && !!st.id)"
                        min="1"
                        style="width: 75px;"
                        class="form-control">
                    </div>
                  </td>
                  <td>
                    <select class="form-select"
                      [(ngModel)]="st.assigneeUserId"
                      [disabled]="st.isDone || (!!st.assigneeUserId && !!st.id)">
                      <option *ngFor="let pDev of projectDevelopers" value="{{pDev.id}}">
                        {{pDev.fullName}}
                      </option>
                    </select>
                  </td>
                  <td class="cell-vertical-align-middle">
                    <div class="cell-align-items-center">
                      <i *ngIf="(!st.id || !st.assigneeUserId) && !st.isDone"
                      class="icon-btn bi bi-trash3" 
                        (click)="deleteTask(st, i)">
                      </i>
                    </div>

                    </td>
                </tr>              
              </tbody>
            </table>
          </div>
          
          
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Cancel</button>
          <button type="button" class="btn btn-outline-success" (click)="save()">Save</button>
        </div>
      </div>
    </div>

</div>

<div  *ngIf="visible" style="display: block;"
  class="my-modal-backdrop-show"
></div>
