
<div class="form-group col-12">
  <div class="button-container">
    <button *ngIf="currentUserAdmin" id="addProjectButton"
      type="button" class="btn btn-primary" 
      data-bs-toggle="modal" data-bs-target="#projectModal" (click)="clearData()">Add project
    </button>
  </div>
</div>

<div class="table-container col-12">
  <table class="table bordered align-middle">
    <thead class="table-light">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Product owner</th>
        <th>Scrum Master</th>
        <th>Developers</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>



      <tr *ngFor="let project of projects">
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p *ngIf="userOnProject[project.id]"
              class="fw-bold mb-1 edit-link" 
              (click)="openProjectDetails(project.id)">{{project.name}}</p>

              <p *ngIf="!userOnProject[project.id]"
              class="fw-bold mb-1">
              {{project.name}}</p>
            </div>
          </div>
        </td>
        <td>
          <textarea class="form-control" 
          placeholder="Enter project description" id="descriptionTextArea" 
          style="height: 70px"
          [(ngModel)]="project.description"
        ></textarea>
        </td>
        <td>
          <span class="badge rounded-pill bg-danger fw-normal mb-1">
            {{project.productOwnerUserName}}
          </span>
        </td>
        <td>
          <span class="badge rounded-pill bg-success fw-normal mb-1">
            {{project.scrumMasterUserName}}
          </span>
        </td>
        <td>
          <span *ngFor="let dpun of project.developerParticipantUserNames"
          class="badge rounded-pill bg-info text-dark">
            {{dpun}}
          </span>
          <!-- <span class="badge rounded-pill bg-danger">Product owner</span>
          <span class="badge rounded-pill bg-success">Scrum master</span>
          <span class="badge rounded-pill bg-info text-dark">Developer</span> -->
        </td>
        <td>
          <button *ngIf="scrumMasterOnProject[project.id] || currentUserAdmin"
            (click)="editProject(project)"
            data-bs-toggle="modal" data-bs-target="#projectModal"
            type="button" class="btn btn-sm btn-rounded">
            <i class="bi bi-pencil-square icon-btn"></i>
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</div>



<!-- Add project Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" 
  aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectModalLabel">Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-12 form-group">
          <div class="row">
            <div class="col-3">Project name: </div>
            <div class="col-9"><input [(ngModel)]="editedProject.name" type="text" class="form-control"></div>
          </div>
        </div>

        <div class="col-12 form-group">
          <div class="form-floating">
            <div class="row">
              <div class="col-3">Project description: </div>
              <div class="col-9">
                <textarea class="form-control" 
                placeholder="Enter project description" id="descriptionTextArea" 
                style="height: 100px"
                [(ngModel)]="editedProject.description"
              ></textarea>
              </div>
            </div>
          </div>
        </div>


        <div class="col-12 form-group">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Add User</th>
                <th scope="col">Username</th>
                <th scope="col">Product owner</th>
                <th scope="col">Scrum master</th>
                <th scope="col">Developer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pp of availableProjectParticipants">
                <td>
                  <input class="form-check-input" type="checkbox" (click)="userSelected(pp.userId, pp.selected)" [(ngModel)]="pp.selected">
                </td>
                <td>{{pp.username}}</td>
                <td>
                  <input class="form-check-input" type="checkbox" (click)="productOwnerSelected(pp.userId)" [(ngModel)]="pp.productOwner">
                </td>
                <td>
                  <input class="form-check-input" type="checkbox" (click)="scrumMasterSelected(pp.userId)" [(ngModel)]="pp.scrumMaster">
                </td>
                <td>
                  <input class="form-check-input" type="checkbox" (click)="developerSelected(pp.userId)" [(ngModel)]="pp.developer">
                </td>
              </tr>              
            </tbody>
          </table>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelModalButton">Cancel</button>
        <button type="button" class="btn btn-outline-success" (click)="saveProject()">Save</button>
      </div>
    </div>
  </div>
</div>