<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="flex-container">

    <!-- leva stran navbara -->
    <div class="flex-itm-l navbar-nav">      
      <a class="nav-item nav-link disabled">{{title}}</a>
      <a class="nav-link " routerLink="home">Home</a>
      <a class="nav-link" routerLink="dashboard">Dashboard</a>      
    </div>

    <!-- desna stran navbara (user related stuff) -->
    <div class="flex-itm-r">
      <ng-container *ngIf="!isUserLoggedIn">
        <a class="nav-link" routerLink="login">Login</a>
      </ng-container>
      
      <ng-container *ngIf="isUserLoggedIn">
        <a class="nav-link" routerLink="user_details">{{ loggedInUserName }}</a>
      
        <a class="dropdown-item" routerLink="pass_change">Change password</a>
        <a class="dropdown-item" (click)="passReveal()">Reveal paassword</a>
        <a class="dropdown-item" (click)="passRevealLast()">Reveal last pass character</a>
      </ng-container>      
    </div>

  </div>  
</nav>



<div role="main">

<div>
<router-outlet></router-outlet>
</div>


</div>

