.spacing{
  padding-right:10px;
}
.navbar{
  display: block !important;
}

.nav-link{
  padding: 0;
}

.flex-container{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-itm-l{
  display: flex;
  flex-direction: row !important;
  align-items: baseline;
  justify-content: flex-start;
  gap: 10px;
}

.flex-itm-r{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 10px;
}