<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="flex-container">

    <!-- leva stran navbara -->
    <div class="flex-itm-l navbar-nav">      
      <a class="nav-item nav-link disabled">{{title}}</a>
      <!-- <a class="nav-link " routerLink="home">Home</a>
      <a class="nav-link" routerLink="dashboard">Dashboard</a> -->
      <a class="nav-link" routerLink="projects">Projects</a>
      <ng-container *ngIf="isAdmin && isUserLoggedIn">
        <a class="nav-link" routerLink="users">Users</a>  
      </ng-container>
    </div>

    <!-- desna stran navbara (user related stuff) -->
    <div class="flex-itm-r">
      <ng-container *ngIf="!isUserLoggedIn">
        <a class="nav-link" routerLink="login">Login</a>
      </ng-container>

      <ng-container *ngIf="isUserLoggedIn">
        <a class="nav-link" class="link-divider" routerLink="user_details">{{ loggedInUserName }}</a>
        <a class="nav-link" class="logout-link" (click)="logout()">Logout</a>            
      </ng-container>      
    </div>

  </div>  
</nav>



<div role="main">

<router-outlet></router-outlet>




</div>

