<div class="col-12 form-group">
  <div class="row add-btn-container">
    <h2 *ngIf="userIsScrumMaster"
    class="icon-btn bi bi-plus-square" (click)="addSprint()"></h2>
  </div>
  <div class="col-12">
    <div class="row">

    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sprint Id</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Sprint velocity</th>
          <th scope="col">Edit / Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sprint of sprints; index as i">
          <td>
            {{sprint.id}}
          </td>
          <td>
            {{sprint.startDate | date :'dd.MM.yyyy'}}
          </td>
          <td>
            {{sprint.endDate | date :'dd.MM.yyyy'}}
          </td>
          <td>
            {{sprint.velocity}}
          </td>
          <td class="btn-table-column">
            <i *ngIf="userIsScrumMaster"
            (click)="editSprint(sprint)" class="icon-btn bi bi-pencil"></i>
            <i *ngIf="userIsScrumMaster" 
            class="icon-btn bi bi-trash3" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" (click)="deleteSprint(i)"></i>
            <i *ngIf="!userIsScrumMaster"
            data-bs-toggle="tooltip" data-bs-placement="top" title="User is not scrum master"
            class="bi bi-slash-circle"></i>
          </td>
        </tr>              
      </tbody>
    </table>
    </div>  
  </div>
  
</div>



<app-sprint-popup
  (sprintSaved)="sprintSaved($event)"
></app-sprint-popup>




<!-- MODALS -->


<!-- Confirm Sprint delete Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" id="closeDelSprintConfirmation" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this sprint?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="confirmedDeleteSprint()">Delete</button>
      </div>
    </div>
  </div>
</div>