<div class="col-12 form-group">
  <div class="row add-btn-container">
    <h2 *ngIf="userIsScrumMaster"
    class="icon-btn bi bi-plus-square" (click)="addSprint()"></h2>
  </div>
  <div class="col-12">
    <div class="row">

    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sprint Id</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Sprint velocity</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sprint of sprints; index as i">
          <td>
            {{sprint.id}}
          </td>
          <td>
            {{sprint.startDate | date :'dd.MM.yyyy'}}
          </td>
          <td>
            {{sprint.endDate | date :'dd.MM.yyyy'}}
          </td>
          <td>
            {{sprint.velocity}}
          </td>
          <td class="btn-table-column">
            <i *ngIf="userIsScrumMaster" 
            class="icon-btn bi bi-trash3" (click)="deleteSprint(i)"></i>
            <i *ngIf="!userIsScrumMaster"
            data-bs-toggle="tooltip" data-bs-placement="left" title="User is not scrum master"
            class="bi bi-slash-circle"></i>
          </td>
        </tr>              
      </tbody>
    </table>
    </div>  
  </div>
  
</div>



<app-sprint-popup
  (sprintSaved)="sprintSaved($event)"
></app-sprint-popup>